<h3 class="center">Detalles del estudiante</h3>
<p>Nombre del Estudiante: <strong>{{currentStudent.name}}</strong></p>
<p>Número de documento: <strong>{{currentStudent.documentNumber}}</strong></p>
<p>Fecha de nacimiento: <strong>{{currentStudent.birthDate}}</strong></p>
<p>Tipo de licencia: <strong>{{currentStudent.typeDrivingLicense}}</strong></p>
<h3 class="center">Módulos del estudiante</h3>
<p *ngIf="currentStudent.inscriptions.length === 0">El estudiante no tiene clases inscritas.</p>
<div *ngFor="let inscription of currentStudent.inscriptions">
  <ul>
    <li><p>Módulo: <strong>{{inscription.subject.modules.name}}</strong>, Clase:
      <strong>{{inscription.subject.name}}</strong>,
      Estado: <strong>{{inscription.inscriptionState}}</strong>, Fecha de inscripción:
      <strong>{{inscription.inscriptionDate}}.</strong></p>
    </li>
  </ul>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="viewSubjectRegister()">Inscribir clase</button>
</div>
