<h2>Modulos y Clases</h2>
<p>Despliegue cada módulo para visualizar las clases asociadas</p>
<mat-accordion>
  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                       *ngFor="let module of modules">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{module.name}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p *ngFor="let subject of module.subjects">{{subject.name}}</p>
  </mat-expansion-panel>
</mat-accordion>
