<div class="center" mat-dialog-content>
  <h1 mat-dialog-title>Agregar Estudiante</h1>
  <form class="example-form" [formGroup]="studentForm" autocomplete="off">
    <mat-form-field class="field-app">
      <mat-label>Documento Identidad</mat-label>
      <input matInput formControlName="documentNumber" type="number" class="example-right-align">
      <mat-hint *ngIf="validateRequired(f['documentNumber'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Nombre completo</mat-label>
      <input matInput formControlName="name">
      <mat-hint *ngIf="validateRequired(f['name'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input [min]="minDate" [max]="maxDate" matInput [matDatepicker]="dp3" readonly="true"
             formControlName="birthDate">
      <mat-hint *ngIf="validateRequired(f['birthDate'])">
        Campo obligatorio
      </mat-hint>
      <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
      <mat-datepicker #dp3 disabled="false"></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="field-app">
      <mat-label>Tipo de licencia</mat-label>
      <mat-select formControlName="typeDrivingLicense">
        <mat-option *ngFor="let type of typeDrivingList" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validateRequired(f['typeDrivingLicense'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()" cdkFocusInitial>Aceptar
  </button>
</div>
