<h2>Estudiantes inscritos</h2>
<div class="demo-button-container">
  <button mat-raised-button (click)="addStudent()" class="demo-button">
    Registrar Estudiante
  </button>
</div>

<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID</th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre</th>
      <td mat-cell *matCellDef="let row"> {{row.name}} </td>
    </ng-container>

    <ng-container matColumnDef="documentNumber">
      <th mat-header-cell *matHeaderCellDef> Número de documento</th>
      <td mat-cell *matCellDef="let row"> {{row.documentNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Edad</th>
      <td mat-cell *matCellDef="let row"> {{row.birthDate | age}} </td>
    </ng-container>

    <ng-container matColumnDef="typeDrivingLicense">
      <th mat-header-cell *matHeaderCellDef> Tipo de licencia</th>
      <td mat-cell *matCellDef="let row"> {{row.typeDrivingLicense}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="showDetails(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Ningún elemento coincide con la busqueda "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
<br>
<p>Para visualizar detalles del estudiante haga click sobre cualquiera fila de la tabla.</p>
