<div class="center" mat-dialog-content>
  <h1 mat-dialog-title>Registrar clase para {{student.name}}</h1>
  <div class="center">
    <ng-container class="field-app">
      <label id="example-radio-group-label">Estado: </label>
      <mat-radio-group aria-labelledby="example-radio-group-label"
                       class="example-radio-group" [(ngModel)]="stateInscription">
        <mat-radio-button class="example-radio-button" [value]="'ACTIVE'">
          Activa
        </mat-radio-button>
        <mat-radio-button class="example-radio-button" [value]="'INACTIVE'">
          Inactiva
        </mat-radio-button>
      </mat-radio-group>
    </ng-container>
    <!--<mat-form-field class="field-app">
      <mat-label>Clase</mat-label>
      <mat-select formControlName="subjectId">
        <mat-option *ngFor="let type of typeDrivingList" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
      <mat-hint *ngIf="validateRequired(f['typeDrivingLicense'])">
        Campo obligatorio
      </mat-hint>
    </mat-form-field>-->
    <br>
    <mat-form-field appearance="fill" class="field-app">
      <mat-label>Clase</mat-label>
      <mat-select>
        <mat-optgroup *ngFor="let group of modules" [label]="group.name">
          <mat-option #matOption *ngFor="let subject of group.subjects" [value]="subject.id"
                      (click)="selectSubject(matOption.value)">
            {{subject.name}}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="center">
  <button mat-raised-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="aceptar()" cdkFocusInitial>Aceptar
  </button>
</div>
