<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    'documentNum', 'nameEst', 'typeLicense', 'nameSubj', 'module', 'state'
    <!-- ID Column -->
    <ng-container matColumnDef="documentNum">
      <th mat-header-cell *matHeaderCellDef> Número de documento</th>
      <td mat-cell *matCellDef="let row"> {{row.student.documentNumber}} </td>
    </ng-container>

    <ng-container matColumnDef="nameEst">
      <th mat-header-cell *matHeaderCellDef> Nombre Estudiante</th>
      <td mat-cell *matCellDef="let row"> {{row.student.name}} </td>
    </ng-container>

    <ng-container matColumnDef="typeLicense">
      <th mat-header-cell *matHeaderCellDef> Tipo de licencia</th>
      <td mat-cell *matCellDef="let row"> {{row.student.typeDrivingLicense}} </td>
    </ng-container>

    <ng-container matColumnDef="nameSubj">
      <th mat-header-cell *matHeaderCellDef> Clase</th>
      <td mat-cell *matCellDef="let row"> {{row.subject.name}} </td>
    </ng-container>

    <ng-container matColumnDef="module">
      <th mat-header-cell *matHeaderCellDef> Módulo</th>
      <td mat-cell *matCellDef="let row"> {{row.subject.modules.name}} </td>
    </ng-container>

    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef> Estado</th>
      <td mat-cell *matCellDef="let row"> {{row.inscriptionState}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row (click)="showDetails(row)" *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">Ningún elemento coincide con la busqueda "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
</div>
